@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
}

#navbar {
  font-family: 'Poppins', sans-serif;
}

#hero {}

#hero p {
  font-family: 'Poppins', sans-serif;
}

.nav-item a {
  color: #fff;
}

.nav-link.active {
  border-radius: 10px;
  color: #fff !important;
}

.navbar-nav {
  --bs-nav-link-hover-color: #fff !important;
}

.navbar-nav .nav-link.show {
  color: #fff !important;
}

.navbar-nav .nav-item:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.dropdown-menu {
  --bs-dropdown-link-hover-color: #000 !important;
  --bs-dropdown-link-hover-bg: #fff !important;
  background-color: #fff !important;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
  border-radius: 20px;
  height: 60px;
  width: 60px;
  left: 0;
}

.owl-nav button.owl-next {
  border-radius: 20px;
  height: 60px;
  width: 60px;
  right: 0;

}

.owl-nav button.owl-next span,
.owl-nav button.owl-prev span {
  font-size: 2rem;
}

.owl-nav button.owl-next:hover,
.owl-nav button.owl-prev:hover {
  background-color: #fff !important;
}

.owl-carousel-reseller .owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
  border-radius: 20px;
  height: 60px;
  width: 60px;
  left: 10px;
}

.owl-nav button.owl-next {
  border-radius: 20px;
  height: 60px;
  width: 60px;
  right: 10px;

}

.owl-nav button.owl-next span,
.owl-nav button.owl-prev span {
  font-size: 2rem;
}

.owl-nav button.owl-next:hover,
.owl-nav button.owl-prev:hover {
  background-color: #fff !important;
}


.owl-dots {
  text-align: center;
  padding-top: 15px;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #d30000;
  margin: 0 3px;
}

.owl-carousel .owl-stage {
  display: flex;
}

.owl-carousel-atas .owl-item img {
  width: 100%;
  height: 100%;
}

.owl-carousel button.owl-dot {
  background-color: rgb(230, 230, 230) !important;
}

.owl-dots button.owl-dot.active {
  background-color: #b58b41 !important;
}

.owl-dots button.owl-dot:focus {
  outline: none;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.38) !important;
}

.owl-nav button:focus {
  outline: none;
}

#produk {
  font-family: 'Poppins', sans-serif;

}

.card a {
  background-color: #D2A234;
}

.btn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #C59C38 !important;
  animation: ease-in-out 2s;
  border: 1px solid #C59C38 !important;
}

.button-atas a {
  background-color: #FFF;
}

.button-atas a:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  animation: ease-in-out 2s;

}

#footer {
  background-color: #1B120B;
}

#article i:hover {
  background-color: #1B120B;
  color: white !important;
  border: 2px solid #1B120B !important;

}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 12px solid #1B120B;
  border-radius: 50%;
  border-top: 12px solid #b58b41;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

#myDiv {
  display: none;
}

.tombol-reseller:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #fff !important;
  background-color: #C59C38 !important;
  animation: ease-in-out 2s;
  border: 1px solid #C59C38 !important;
}

.zoom-in-out-box {
  animation: zoom-in-zoom-out 2s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.02, 1.02);
  }

  100% {
    transform: scale(1, 1);
  }
}

.member-info {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 0;
  border-radius: 0 0 4px 4px;
  /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); */
}

.member-info h4 {

  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
  color: #3d312a;
  position: relative;
  padding-bottom: 10px;
}

.member-info p {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
  color: #3d312a;
  position: relative;
  padding-bottom: 10px;
}

.member-info h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #96795f;
  bottom: 0;
  left: calc(50% - 25px);
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li+li {
  margin-top: 15px;

}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
  text-decoration: none;

}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #C29A62;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #3d312a;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #3d312a;
}

body {
  background: red;
}

.intro,
.intro a {
  color: #fff;
  font-family: ;
}

/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }

  100% {
    top: 100%;
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }

  100% {
    top: 100%;
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(80px);
  }

  100% {
    transform: translateX(0px);
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}

/* Demo Purpose Only*/
.demo {
  font-family: "Raleway", sans-serif;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}

.demo a {
  font-family: "Raleway", sans-serif;
  color: #000;

}

.float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 80px;
  right: 20px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.float2 {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: #FE5722;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 10px;
}

.owl-carousel-tengah .member-info {
  height: 60px !important;
  bottom: -3px;
  left: 0px;
  right: 0px;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px 0;
  border-radius: 0 0 4px 4px;
  /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); */
}

.owl-carousel-tengah .owl-item {
  border-radius: 50px !important;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

@media screen and (max-width:768px) {
  .my-float {
    font-size: calc(1.375rem + 1.5vw)!important;
    margin-top: 10px;
  }
  #footer h5{
    font-size: 1.7rem;
  }
  #footer h6,i{
    font-size: 1rem;
  }
  .owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .owl-nav button.owl-prev {
    border-radius: 20px;
    height: 40px;
    width: 40px;
    left: 10px;
  }
  
  .owl-nav button.owl-next {
    border-radius: 20px;
    height: 40px;
    width: 40px;
    right: 10px;
  
  }
  
  .owl-nav button.owl-next span,
  .owl-nav button.owl-prev span {
    font-size: 1.1rem;
  }
  .owl-dots {
    text-align: center;
    padding-top: 15px;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
  }
  
  .owl-dots button.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background: #d30000;
    margin: 0 3px;
  }
  #hero p {
    font-size: 0.9rem !important;
  }

  .navbar .container-fluid img {
    width: 30% !important;
  }

  .owl-carousel-atas .owl-item img {
    width: 100%;
    height: 100%;
  }

  #navbar-toggler {
    background-color: white !important;
  }

  .navbar-toggler {
    background-color: white !important;
  }

}